# These modules will not be copied
purchase_consignment
purchase_consignment_delivery_expense
purchase_consignment_inventory
purchase_invoice_empty_lines
purchase_invoice_from_picking
purchase_line_editable_list
purchase_origin_always_visible
purchase_warning_minimum_amount
stock_block_auto_purchase_order
stock_orderpoint_editable_list
stock_picking_groupby_purchase_user
stock_picking_supplier_reference